


.card {
    background-color: rgb(235, 229, 222);
    color: rgba(2, 2, 128, 0.884);
    width: 400px;
    height:800px;
    border:2px solid rgb(15, 13, 13);
    margin-top:60px;
}
.fullbody {
    background-color: rgb(43, 40, 40);
}
.imagelogo {
    margin:80px 0px 0px 150px;
}
.email {
    padding:20px;
    width:50px;
}

.text {
    text-align: center;
}
.btn {
    background-color: orange;
}


    
 
@media only screen and     (max-width:500px)
{
    
    .row {
        justify-content: start;
        flex-flow: column;
        align-items: center;
    
            }
      .imagelogo {
        position:relative;
        right:100px;
        width:300px;
      }
    .card {
        position:relative;
        left:50px;
        bottom:100px;
        width:300px;
        height:500px;
    }

    .signup {
        position: relative;
        bottom:100px;
        left:20px;
    }

}

